/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fff;
	font-size: 14px;
	color: #626262;
	font-weight: 400;
	font-family: Playfair + Display;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	min-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}

/* ................................Шапка............................................ */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 23px;
	align-items: center;
	padding: 15px;
	width: 1063px;
	height: 23px;
	margin: 68px 68px 72px 69px;
	object-fit: contain;
}
.header__logo {
	font-family: Inconsolata;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 6px;
	text-align: center;
	line-height: 120%;
	color: #000;
	text-transform: uppercase;
	margin: 0px 371px 0px 0px;
}
.header__menu {
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item {
	margin: 0px 60px 0px 0px;
}
.menu__link {
	font-family: PlayfairDisplay;
	line-height: 13%;
	color: #626262;
	text-transform: uppercase;
}

/* ................................. */
.page {
	flex: 1 1 auto;
}
/* ............................... */

.page {

}
.page__main-block {
}
.main-block {
}
.main-block__container {
}

.main-block__image {
}
._ibg {
	position: fixed;
	width: 1200px;
	height: 672px;
	top: 163px;
	left: 69px;

}
